body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
h1, h2, h3, p, ul, li {
    margin: 0 0 15px 0;
    padding: 0;
}
 header {
    background-color: #0872b4;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}
nav {
    background-color: #333333;
    color: #ffffff;
    float: left;
    width: 200px;
    margin-right: 20px;

}
nav ul {
    list-style-type: none;
    padding: 0;
}

main {
    float: left;
    width: 200px;
    margin-right: 20px;
}
aside {
    float: left;
    width: 200px;
    margin-right: 20px;
}
footer {
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: relative;
}